.todo{
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    background-color: var(--color-C);
    max-width: 100%;
    height: 3rem;
    box-shadow: $shadow;
   
    @include media-query(desktop) {
        margin-top: 1em;
    }
    @include media-query(desktop) {
        height: 4rem;
    }

    &__check {
    margin: 20px;
    
    }

    &__input-container {
        height: 98%;
        width: 100%;
        border: none;
        border-radius: rem(0) rem(5) rem(5) rem(0);
        background-color: var(--color-100);
        color: var(--color-200);
        position: relative;
    
        &:focus, &:hover {
            outline: none;
        }
    
        &:hover {
            outline: rem(0.1) solid transparent;
        }
    }
}
.todo-input:focus, .todo__input:hover {
    outline: rem(0.1) solid transparent;
  }