.todo{
    display: flex;
    align-items: center;
    border-radius: 0.7rem;
    background-color: var(--color-bgtask);
    height: 4rem;
    box-shadow: $shadow;
    
    &__input-container {
        font-family: $font-family;
        font-size: $F-size-input;
        font-weight: $Weight700;
       
        border: none;
        background-color: var(--color-bgtask);
        color: var(--color-value);
        position: relative;
        border-radius: 0.7rem;
       
        &:focus {
            outline: none;
        }
    
    }
    
}

input[type="checkbox"]{
    margin: 15px;
}