.appThemeContainer {
  background-image: url("../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  max-width: 100%;
  height: 16rem; //DIVIDO LOS PX/3.5
  padding: 3.8rem;

  @include media-query(mobile) {
    height: 12rem;
    padding: 1.5rem;
  }
 
}

.appWrapper{ 
  max-width: 32rem;
  min-height: 30rem;
  margin: 0 auto;
}

.appParrafo {
    padding-top: 30px;
    p {
      font-family: $font-family;
      text-align:center;
      font-size: $F-size-p;
      font-weight: $Weight700;
      color: var(--color-btn);
    }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

