.themeContainer {
  background-image: url("../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  max-width: 100%;
  height: 18rem;
  
  padding: 3rem;

  // @include media-query(desktop) {
  //   height: 18.75rem;
  // }
 
}

.wrapper{ 
  max-width: 35rem;
  min-height: 31.25rem;
  margin: 0 auto;
}

.parrafo {
    padding-top: 30px;
    p {
      font-family: $font-family;
      text-align:center;
      font-size: $F-size-p;
      color: var(--color-btn);
    }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

