.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: $F-size-btn;
    color: var(--color-value);
    font-family: $font-family;
    font-weight: 700;
    
    &:hover{
       color:$c-primary;
    }
}
    