.button {
    display: flex;
    align-items: center;
    border-bottom: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: $F-size-btn;
    color: var(--color-i);
    font-family: $font-family;
    font-weight: 700;
    
    &:hover{
       color:$c-primary;
    }
}
    