.footer{
 
    border-radius: 0.7rem;
    box-shadow: $shadow;
    background-color: var(--color-bgtask);
    
    &_btn{
        font-size: $F-size-btn;
        color: var(--color-value);
        font-family: $font-family;
        font-weight: 700;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}