
.nav{
    min-height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &_title{
        h1 {
            text-transform: uppercase; //transforma todas a may
            font-size:$F-size-title;
            letter-spacing: 0.625rem; //espaciado entre letras
            color: var( --color-t);
        }
        @include media-query(desktop) {
            font-size: 2.5rem;
        }
    } 

    &_switch{
        display: flex;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }   
}


