
.nav{
    min-height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
     &_title{
        h1 {
            text-transform: uppercase; //transforma todas a may
            font-size:$F-size-title-d ; //tamaño de letra
            font-weight:$Weight700; // negrita
            letter-spacing: 0.625rem; //espaciado entre letras
            color: var( --color-title);

            @include media-query(mobile) {
                font-size:$F-size-title-m ;
            }
        }
    } 

    &_switch{
        border: none;
        cursor: pointer;
        background-color: transparent;
    }   
}


