.todos{
    margin-top: 35px; 
    // flex-direction: column;

    &__input-container{
        display: flex;
        justify-content: space-between;
        min-height: 3rem;
        border-bottom: 0.1px solid var(--color-btn);
        border-radius: 0.7rem;
        background-color: var(--color-bgtask);
        color: var(--color-value);
        &_check{
            display: flex;
            align-items: center;
            label {
                cursor: pointer;
                font-weight: $Weight700;
                
            }
        }
    }

    button {
        background-color: transparent;
        border: none;
        margin-right: 1.5rem;
        text-align: right;

            img {
            width: 0.8rem;
            height: 0.8rem;
            cursor: pointer;
            }
    }
}


input[type="checkbox"] {
    -webkit-appearance: none;
    min-width: 1.3rem;
    min-height: 1.3rem;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid hsla(0, 0%, 59%, 0.363);
    cursor: pointer;

    &:checked {
        content: url("../images/icon-check.svg");
        width: 1em;
        background: $check-background;
    }
    
    &:hover {
        border: 0.03rem solid #c058f3;
        transition: 0.2s ease-in-out;
    }
}

input[type="checkbox"]:checked + label {
    transition: 1s linear;
    color: var(--color-i);
    text-decoration: line-through;
   
}
 