.todos{
    margin-top: 35px; 
  
    
    &_task{
        display: flex; 
        min-height: 3rem;
        border-bottom: 0.2px solid var(--color-btn);
        border-radius: 0.3rem;
        background-color: var(--color-bgtask);
        color: var(--color-value);
        align-items: center;
        justify-content: space-between;
    }
    &_delete {
        button{
            background-color: transparent;
            border: none;
            margin-right: 1.5rem;
            
            img {
                width: 0.9rem;
                height: 0.9rem;
                cursor: pointer;
            }
        }
    }

}
    

input[type="checkbox"] {
    -webkit-appearance: none;
    min-width: 1.5rem;
    min-height: 1.5rem;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid var(--color-value);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:checked {
        content: url("../images/icon-check.svg");
        width: 1em;
        background: $check-background;
        transition: 0.1s ease-in-out;
    
    }
    
    &:hover {
        border: 0.03rem solid #c058f3;
        transition: 0.1s ease-in-out;
    }

}
input[type="checkbox"]:checked + label {
    transition: 1s linear;
    color: var(--color-i);
    text-decoration: line-through;
}
