//----Typography-----

$font-family:"Josefin Sans", sans-serif;
$F-size-title-d: 40px;
$F-size-title-m: 25px;
$F-size-p: 14px;
$F-size-input:13px;
$F-size-btn: 14;
$c-primary:hsl(220, 98%, 61%); //hover botones All, completed, clear completer
$Weight400: 400;
$Weight700: 700;

//Sombras
$shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);

//---- Color de fondo Ckeckbox
$check-background: linear-gradient( hsl(192, 100%, 67%), hsl(280, 87%, 65%));

//Los diseños se crearon con los siguientes anchos:
$Mobile: 600px;//;
$Desktop: 1440px;//;

:root{

    //Colors Light Theme
    --color-light-t:hsl(0, 0%, 98%); //TITULO NAV///fondo de componente task
    --color-light-bgbody: hsl(236, 33%, 92%); 
    --color-light-i: hsl(233, 11%, 84%); 
    --color-light-btn: hsl(236, 9%, 61%); // botones All, completed, clear completer,count y p
    --color-light-i2: hsl(235, 19%, 35%); //letra de input
    
    //Colors Dark Theme
    --color-Dark-bgbody: hsl(235, 21%, 11%); 
    --color-Dark-t:hsl(0, 0%, 98%);
    --color-Dark-bgtask: hsl(235, 24%, 19%);
    --color-Dark-i: hsl(234, 11%, 52%);
    --color-Dark-btn: hsl(234, 39%, 85%);
    --c-Dark-hover: hsl(236, 33%, 92%);
    --c-Dark-5: hsl(233, 14%, 35%);
    --c-Dark-6: hsl(237, 14%, 26%);

}

.light-theme{
    --color-bgbody:var(--color-light-bgbody);
    --color-title:var( --color-light-t);
    --color-bgtask:var(--color-light-t);
    --color-value:var(--color-light-btn); 
    --color-btn:var(--color-light-btn); 
}

.dark-theme{
    --color-bgbody:var(--color-Dark-bgbody);
    --color-title:var(--color-Dark-t);
    --color-bgtask:var(--color-Dark-bgtask);
    --color-value:var(--color-Dark-btn);
    --color-btn:var(--c-Dark-5); 
}

